
Quick Projects/.idea/workspace.xml
Quick Projects/Register Software/.idea/inspectionProfiles/profiles_settings.xml
Quick Projects/Register Software/.idea/inspectionProfiles/Project_Default.xml
Quick Projects/Register Software/.idea/misc.xml
Quick Projects/Register Software/.idea/Register Software.iml
Quick Projects/Register Software/.idea/vcs.xml
Quick Projects/Register Software/.idea/modules.xml
Long Projects/Calculator/asd.py
